<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250117536150-clge2gn297k1qbrpeqq78ornq9ob30ga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250117536150-clge2gn297k1qbrpeqq78ornq9ob30ga</string>
	<key>API_KEY</key>
	<string>AIzaSyAtqJb3zcZ9BG-jt9Mpd6Ju5W6Zr8SllqY</string>
	<key>GCM_SENDER_ID</key>
	<string>250117536150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Quark.Rezaspot</string>
	<key>PROJECT_ID</key>
	<string>rezaspot-1552413191342</string>
	<key>STORAGE_BUCKET</key>
	<string>rezaspot-1552413191342.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250117536150:ios:3997e89742bf3005</string>
	<key>DATABASE_URL</key>
	<string>https://rezaspot-1552413191342.firebaseio.com</string>
</dict>
</plist>